/*Pagina principal*/
    #ContainerPrimario {
        background: url(../img/ImgPrinciapl.webp) center;
        background-size: cover;
    }
    #FormInput {
        background-color: var(--vendex-input);
        border-color: var(--vendex-input);
        border-radius: var(--vendex-radius);
        color: var(--bs-white);
    }
    #FormInput::placeholder {
        color: var(--vendex-placeholder);
    }
    #BtnForms {
        background: var(--vendex-rosa);
        border: var(--vendex-rosa);
        border-radius: var(--vendex-radius);
    }
/*Pagina principal*/    
/*Vendex*/
    #Tempo {
        width: 40% !important;
    }
/*Vendex*/
/*Carrossel*/
    .carousel-indicators {
        bottom: -35px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 2% !important;
    }
    .carousel-control-next {
        right: -20px !important;
    }
    .carousel-control-prev {
        left: -20px !important;
    }
/*Carrossel*/