@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
main {
    background: var(--color-black);
}
.PaginaEmpresa {
    padding: 0px 5rem;
}