:root {
    --background-linear: linear-gradient(315deg,#f2669e 0%,#8766f2 100%);
    --color-white:  #fff;
    --color-black: #000;
    --width-padrao: 100%;
    --heigth-padrao: 100vh;
    --color-purple: #b56afc;
}