.Carrossel{
    color: var(--color-white);
    text-align: center;
}
.Carrossel span strong h1 {
    color: var(--color-purple);
}
.wrapper {
    display: flex;
    justify-content: center;
}
.slide-wrapper {
    width: 65%;
    overflow: hidden;
}
.slide-list {
    display: flex;
}
.slide-item {
    cursor: grab;
    padding: 0 10px;
}
.slide-image {
    border-radius: 10px;
    width: 190px;
    height: 190px;
}



@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }
}